body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  background-color: #2a0a4a;
  position: relative;
}

.bg-img {
  background-image: url("./assets/bg.png");
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;
  position: absolute;
  background-repeat: no-repeat;
  z-index: -1;
}

.figure-container {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-height: 420px;
}

.figure {
  position: absolute;
  background-image: url("./assets/figure.png");
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  height: 95%;
  background-position: bottom center;
  background-size: contain;
  background-repeat: no-repeat;
}

.title {
  max-width: 327px;
  color: #fff;
  line-height: 1.4;
}

.subtext {
  color: grey;
  font-weight: 500;
  max-width: 230px;
}

code {
  font-family: "Roboto", sans-serif;
}
